.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
}





/******************HOMEPAGE & NAVBAR*******************/

.homepage {
  background-image: url(./img/car1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  z-index: 8;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  height: 45px;
  color: #fff;
  background-color: rgb(248, 165, 55);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.31);
  z-index: 10;
} 


.brand {
  font-size: 80px;
  font-weight: 700;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.884);
  text-shadow: 0px 1px 0px rgb(253, 143, 0),
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.nav-links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 19px;
  font-weight: 500;
}


.links {
  text-shadow: 0 1px 0 rgba(17, 17, 17, 0.308), 
               0 4px 3px rgba(0,0,0,0.31);
              
              
               
}




/************************ABOUT PAGE********************/

.about {
  margin-top: 100px;
  text-decoration: none;
  color: #111;
}













/***********************SHOP PAGE*******************/

.garage-container {
  background-image: url(img/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
